/**
 * CSS for the CS142 Project 4, Problem 2 States component.
 * 
 * Since CSS uses a global name space for classes we should use names starting
 * with "cs142-states-" here.
 */
.query{
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(228, 238, 247);
  border: 2px solid rgb(95, 131, 148);
  display: inline-block;
  /* box-sizing: border-box;
  border-radius: 10px; */
}
.output{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}